/* CSS Document */
*{font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif; font-size:12px; color:#3D3D3D; line-height:18px;}
body{margin:0px;}

a{color:#B70E43; text-decoration:underline;} a:hover{color:#B70E43; text-decoration:none;}
.col_R14{color:#B70E43; font-size:13px;}
.col_R15{color:#B70E43; font-size:15px;}
.col_R{color:#B70E43;}
.head1{font-size:15px; font-weight:bold; margin:0px 0px 5px; padding:0px; text-transform:uppercase; color:#282828;}
.f14{ font-size:13px !important;}
.head2{padding:15px 0px 15px 40px; margin-bottom:10px; font-weight:bold; font-size:18px; background:#F2F3F5; border:solid 1px #D3D6D9;}
h1{color:#0D5BA9; margin:10px 0px 5px; font-weight:bold; font-size:17px; text-transform:uppercase;}
h2{color:#0D5BA9; margin:10px 0px 5px; font-weight:bold; font-size:15px; text-transform:uppercase;}
h3{color:#F17D00; margin:10px 0px 0px; font-weight:bold; font-size:14px;}
h4{color:#F17D00; margin:10px 0px 0px; font-weight:bold;}
h5{margin:10px 0px 0px; font-weight:bold; font-size:13px;}

ul{padding:0px; margin:3px 0px 10px 25px;}
ol{padding:0px; margin:3px 0px 10px 25px;}

.table{background:#D3D6D9;} .table td{background:#ffffff;}

a.mainmenu{background:url(images/vmenu.gif) right center no-repeat #000000; float:left; display:block; padding:10px 25px; color:#D3D6D9; font-size:13px; text-transform:uppercase; text-decoration:none;}
a.mainmenu:hover{background:url(images/vmenu.gif) right center no-repeat #D3D6D9; color:#000000;}

a.model{background:url(images/vmodel.gif) right center no-repeat; display:block; height:99px; text-decoration:none; color:#3D3D3D;}
a.model:hover{background:url(images/vmodel.gif) right center no-repeat #E5E7EB;}

a.box{display:block; text-decoration:none; color:#3D3D3D;}

a.p-list{display:block; margin:5px 0px; padding:5px 0px; background:url(images/icon1.gif) left center no-repeat; padding-left:35px; font-size:14px; font-weight:bold; color:#000000; font-style:italic; text-decoration:none;}
a.p-list:hover{color:#F17D00; text-decoration:none;}

.c{color:#6C6C6C; text-decoration:none; font-size:13px; margin-left:35px; padding:5px;0; font-weight:normal;}

a.h-red{display:block; color:#B70E43; font-weight:bold; font-size:18px; text-decoration:none; padding:5px 0px; border-bottom:solid 1px #D3D6D9;}


.blog{float:left; width:214px; height:147px; margin-right:10px; padding:12px 7px 5px; border:solid 1px #D3D6D9; background:url(images/bg_blog.jpg) top repeat-x #EFF0F1;}

.col1{padding:12px; border:solid 1px #D3D6D9;}

.img1{float:left; margin:0px 5px 0px 0px;}
.img2{float:left; margin:0px 10px 0px 0px; border:solid 1px #D3D6D9; padding:3px;}
.imgborder{border:solid 1px #D3D6D9;}

.boder_img{border:solid 1px #D3D6D9; padding:3px; margin-bottom:5px;}

a.closepop{ width:42px; height:42px; background:url(images/close.png) no-repeat; display:block; position:absolute; top:0; right:0;}